body {
    border: 1em solid black;
    padding: 5px;
    color: red;
}
li {
    display: inline-block;
}
span {
    display: block;
    text-align: center;
}
li::before {
    content: "T ";
}
#liste1 li {
    color: green;
}
#liste1 li:hover {
    color: aqua;
}
